body {
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

h2 {
  color: skyblue;
  text-align: center;
  font-family: khmer mn;
  font-size: 25px;
    line-height: 2em;

}

h3 {
  font-family: khmer mn;  
  font-size: 25px;
  color: #ED595C; 
  line-height: 2em;
  text-decoration: bold;
  text-align: center;
}

p {
   font-family: khmer mn;
    font-size: 20px;
    text-align: center; 
    color: white;
}

a {
   font-family: khmer mn;
    font-size: 20px;
    text-align: center; 
    color: skyblue;
}

h1 {
  font-family: khmer mn;  
  font-size: 50px;
  color: #ED595C; 
  text-decoration: bold;
  text-align: center;
}